/*
#root {
  display: flex;
  flex-basis: auto;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar--active-content a {
  color: lightblue;
}
div {
  display: flex;
  flex-direction: column;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

footer #root {
  height: 20px;
  background: white;
}

section {
  background-color: white;
}
.project {
  background-color: white;
  text-align: center;
}
.project_image {
  background-color: white;
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.project_image > div {
  background-color: white;
  display: flex;
  flex-direction: column;
}

img {
  width: 20%;
}

.Profile_links {
  background: white;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.portfolio_links {
  background: white;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
